.center {
    display: flex;
    justify-content: center;
    -fx-text-alignment: center;
}

.textbox-login {
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.error {
    -fx-text-fill: red;
}

#logoLabel {
    -fx-font-size: 23px;
}